<div style=" height:333px; background:#00304B;">
<div style=" height:333px; width:900px;margin:auto; background: url(<%= BASE_URL %>/images/bg-share.png) no-repeat left top;">
  <div style="height:150px;padding:80px 150px;">
    <div style="position:relative;float:left;margin-right:90px;"> <img src="<%= BASE_URL %>/images/santahat.png"  style="position:absolute;top:-15px;left:-50px;" />
     <div style="width:140px;height:140px;overflow:hidden;">
        <img style="width:100%;border:0px #fff solid;" src='<%= @profile["image"]  unless @profile.nil? %>'>
      
     </div>
    </div>
    <div style="position:relative;float:left;"> 
      <img src="<%= BASE_URL %>/images/santahat.png"  style="position:absolute;top:-15px;left:-50px;" />
      <div style="width:140px;height:140px;overflow:hidden;">
        <img style="width:100%;border:0px #fff solid;" src='<%= @friend["image"]  unless @friend.nil? %>'>
      
     </div>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
</div>
